@import url('../Button.scss');

.button--mimas {
	//text-transform: uppercase;
	//letter-spacing: 0.05rem;
	//font-weight: bold;
	border-radius: 0.5rem;
	overflow: hidden;
	color: var(--dark-color);
	background: var(--white-color);
}

.button--mimas span {
	position: relative;
	font-weight: bold;
}

.button--mimas::before {
	content: '';
	background: var(--highlight-color);
	width: 140%;
	left: -20%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}